
/*CSS Style Structure
1. General Or Universal code,
2. Import Google's Fonts,
3. Header,
4. Slider,
5. Welcome,
6.card section
7. Event,
8. Testimonial,
9. Contact,
10. Footer.
*/

/*
font-family: 'Roboto Slab', serif;
*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

/*
font-family: 'Lato', sans-serif;
*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

/*
font-family: 'Raleway', sans-serif;
*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

/*
font-family: 'Open Sans', sans-serif;
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700italic,700,800,800italic);

/*
font-family: 'Roboto', sans-serif;
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/*UNIVERSAL CODE*/

* {
  margin: 0;
  padding: 0;
}
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.fix {
  overflow: hidden;
}
.clear {
  clear: both;
}
.container {
  transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  -ms-transition: all 0.9s ease 0s;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a,
a:hover,
a:focus,
a:visited,
a:hover {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
html {
  height: 100%;
}

/*Remove chrome Input Field’s Unwanted Yellow Background Color*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 100px white inset !important;
}

/*Input focus color removed*/

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

/*Bootstrap Form Control Focus*/

.form-control:focus {
  border-color: #fff;
  border: 0px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/***************************/

.zero_mp {
  padding: 0;
  margin: 0;
}
.margin_btm {
  margin-bottom: 0px !important;
}
.sections {
  padding: 80px 0;
  overflow: hidden;
  position: relative;
}
.min-spacing {
  padding: 50px 0;
  overflow: hidden;
  position: relative;
}
/***********************************************/

/*header*/

/*Header Top header*/

#header .top_header {
  min-height: 50px;
  background: #fbfbfb;
  border-bottom: 2px solid #f2f2f2;
  padding-top: 15px;
}
#header .top_header .address {
  border-right: 1px solid #e6e5e5;
}
#header .top_header .address p {
  font-size: 12px;
  padding-top: 2px;
  color: #646464;
  font-family: "Open Sans", sans-serif;
}
#header .top_header .phone p {
  color: #646464;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  padding-top: 1px;
  display: inline-block;
}
#header .top_header .address i,
#header .top_header .phone i {
  padding: 3px 5px;
  font-size: 15px;
}
#header .top_header .social_icon i {
  padding: 0 5px;
  color: #787878;
  font-size: 12px;
  font-weight: 700;
}
#header .top_header .social_icon i:hover {
  color: #43a906;
}

/*End of top header*/

#header .header_menu {
  min-height: 80px;
  border-bottom: 1px solid #3d3e3d;
  z-index: 9999;
}
#header .header_menu .navbar {
  border: 0px solid transparent;
}
#header .header_menu .custom_navbar-brand {
  padding-left: 0;
}
#header .header_menu .navbar-default {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
#header .header_menu .navbar-default .navbar-nav > .active > a,
#header .header_menu .navbar-default .navbar-nav > .active > a:focus,
#header .header_menu .navbar-default .navbar-nav > .active > a:hover {
  background-color: rgba(255, 255, 255, 0);
}
#header .header_menu .main_menu {
  padding-top: 20px;
}
#header .header_menu ul.main_menu li a {
  color: #393939;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}
#header .header_menu ul.main_menu li a:hover {
  color: #4da91c;
}
#header .header_menu ul.main_menu li.active a {
  color: #4da91c;
}
#header .header_menu ul.main_menu li,
#header .header_menu ul.main_menu li.active a {
  display: inline-block;
  position: relative;
}
#header .header_menu ul.main_menu li:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
  margin-top: 6px;
}
#header .header_menu ul.main_menu li:hover:after,
#header .header_menu ul.main_menu li.active:after {
  width: 90%;
  background: #4da91c;
}

/*Slider*/

#slider {
  min-height: 490px;
}
#slider .slider_text {
  padding-bottom: 13%;
}
#slider .slider_text h2 {
  font-size: 52px;
  padding: 10px 0;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
#slider .slider_text h3 {
  font-size: 45px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
#slider .slider_text p {
  font-size: 17px;
  padding-bottom: 60px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
#slider .slider_text a.custom_btn {
  font-size: 14px;
  color: #fff;
  padding: 15px 25px;
  background: #43a906;
  border-radius: 2px;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
#slider .slider_text h2,
#slider .slider_text h3,
#slider .slider_text p,
#slider .slider_text a.custom_btn {
  text-transform: uppercase;
}
#slider .slider_text h3 {
  font-size: 45px;
  padding: 10px 0;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
#slider .slider_overlay {
  position: relative;
}
#slider .slider_overlay:after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*Slider Fade In*/

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*Welcome Section*/
#welcome {
  min-height: 350px;
  background: #fff;
  padding: 80px 0;
}
.wel_header {
  text-align: center;
  color: #222222;
  padding-top: 0;
}
.fw-heading.fw-heading-center {
  padding-bottom: 40px;
}
.wel_header h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 25px;
  font-family: "Roboto Slab", serif !important;
  color: #222222;
}
.wel_header p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
#welcome .single_item {
  padding-top: 30px;
  text-align: center;
}
#welcome .welcome_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #c4c4c4;
  transition: 0.7s;
}
#welcome .welcome_icon i {
  margin-top: 25%;
  font-size: 50px;
  transition: 0.7s;
}
#welcome .item_list h4 {
  padding: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #393939;
  transition: 0.7s;
  font-family: "Roboto Slab", serif;
}
#welcome .item_list p {
  font-size: 14px;
  color: #646464;
  font-family: "Open Sans", sans-serif;
}
#welcome .item_list:hover .welcome_icon {
  background: #43a906;
  cursor: pointer;
}
#welcome .item_list:hover .welcome_icon i {
  color: #fff;
}
#welcome .item_list:hover h4 {
  color: #43a906;
  cursor: pointer;
}
/*Sections start*/
#card_head {
  padding: auto;
  margin: 30px;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto Slab", serif !important;
  color: #222222;
}
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*Event*/

#event {
  min-height: 550px;
  background: #fff;
  color: #000;
  padding: 80px 0px;
}
#event .event_header {
  padding-bottom: 50px;
}
#event .event_header h2 {
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  color: #222222;
}
.event_header.text-center p {
  color: #393939;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
#event .event_text {
  padding: 30px 30px 0;
  background: #eff0f2;
  min-height: 279px;
}
#event .event_item img {
  width: 100%;
}
#event .event_text {
  padding: 30px 30px 0;
  width: 100%;
}
#event .event_text h4 {
  font-size: 18px;
  padding-bottom: 15px;
  font-weight: 700;
  color: #454444;
  font-family: "Roboto Slab", serif;
}
#event .event_text h6 {
  padding-bottom: 20px;
  font-size: 14px;
  color: #6c6b6b;
  font-family: "Roboto Slab", serif;
}
#event .event_text p {
  font-size: 14px;
  color: #646464;
  padding-bottom: 35px;
  font-family: "Open Sans", sans-serif;
}
#event a.event_btn {
  background: #101010;
  padding: 5px 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  transition: 0.7s ease;
  font-family: "Open Sans", sans-serif;
}
#event a.event_btn:hover {
  background: #43a906;
}
#event .event_news {
  padding-bottom: 27px;
}
.event_news_text {
  display: block;
  overflow: hidden;
}
.event_news_text h4 {
  color: #454444;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
#event .event_news_text p {
  padding-top: 10px;
  font-size: 14px;
  color: #646464;
  font-family: "Open Sans", sans-serif;
}
#event .event_news_img {
  padding-right: 10px;
}

/*Testimonial*/

#testimonial {
  color: #fff;
  background: url(../img/img3.jpg) no-repeat scroll top center / cover;
}
.testimonial_overlay {
  padding: 80px 0;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
}

#testimonial .testimonial_header h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-family: "Roboto Slab", serif;
  color: #fff;
}
#testimonial .testimonial_header p {
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

/*Contact*/

#contact {
  min-height: 650px;
  background: #eeeeee;
  padding: 80px 0;
}

.msg {
  padding-top: 50px;
}
input#name,
input#email {
  margin-bottom: 10px !important;
}

.text_area textarea {
  resize: none;
  width: 555px;
}
.text_area textarea,
.form-inline .form-control,
input#name,
input#email,
input#subject {
  border-radius: 0px;
  margin-bottom: 20px;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #d4d4d4;
  font-style: italic;
  color: #696969;
  font-family: "Open Sans", sans-serif;
}
li.fw-flash-message {
  color: red;
  font-size: 4rem;
}
.msg_title h5 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 20px;
  font-family: "Roboto Slab", serif;
  color: #222222;
}
.custom-btn {
  padding: 13px 82px;
  background: #43a906;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border: 0px;
  border-radius: 2px;
  letter-spacing: 5px;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  outline: 0 !important;
}
.office {
  padding-top: 50px;
}
.office .title h5 {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-family: "Roboto Slab", serif;
  color: #222222;
}
.office_location i span {
  padding-left: 15px;
  color: #696969;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.office_location i {
  padding-bottom: 15px;
}
.office_location {
  color: #696969;
}
.contact_area h3 {
  font-size: 36px;
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  font-family: "Roboto Slab", serif;
}
.contact_area p {
  font-size: 16px;
  color: #646464;
  font-family: "Open Sans", sans-serif;
}

/*Footer*/
.footer {
  background: #43a906;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: rgb(235, 227, 227);
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: rgb(255, 249, 249);
  transition: 0.5s;
}

.footer .row a:hover {
  color: #010101;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}
/*Back to Top*/

#back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: rgba(84, 225, 0, 0.18);
  color: #ffffff;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  transition: all 0.5s ease;
  opacity: 0;
  display: none;
  background: #43a906;
}
#back-to-top:hover {
  color: #fff;
  border-radius: 50%;
}
#back-to-top.show {
  opacity: 1;
}

.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #fff;
  padding-top: 0px;
}

/**/

.section-wraper {
  position: relative;
}
.section-edit {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
.section-abc {
  background: rgba(255, 255, 255, 0.68);
  padding: 2px 5px;
  font-size: 12px;
  font-style: italic;
  display: none;
}
.section-edit:hover .section-abc {
  display: inline;
}
.section-edit .post-edit-link {
  margin: 10px 0;
  padding: 2px 12px;
}
.section-edit .post-edit-link {
  margin: 3px 0;
  padding: 2px 12px;
  font-size: 12px;
  line-height: 1.45;
}
.section-edit .post-edit-link {
  margin: 10px 0;
  display: inline-block;
  background: #e85757;
  color: #fff !important;
  padding: 2px 12px;
  border-radius: 3px;
}

.event_img img {
  width: 440px;
  height: 279px;
}
.event_news_img img {
  width: 95px;
  height: 90px;
}

/*.contact_us_padding {
    padding: 80px 0px;
}*/
#contact-us .wel_header {
  padding-top: 0px;
  padding-bottom: 0;
}

#contact-us h3 {
  font-size: 36px;
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  font-family: "Roboto Slab", serif;
}

#contact-us .wel_header h5 {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-family: "Roboto Slab", serif;
  color: #222222;
  padding-top: 0px;
}
#contact-us .office_location i {
  padding-bottom: 15px;
}
#contact-us .office_location i span {
  padding-left: 15px;
  color: #696969;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

#contact-us .form-group {
  margin-bottom: 0;
}
.wel_header.contact_us_h5 {
  margin-left: -15px !important;
}

#slider .carousel-indicators {
  bottom: 70px;
}

ul.entry-meta {
  text-align: left;
}
.btn-primmary {
  background-color: #43a906;
  padding: 10px 30px;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
.btn.focus,
.btn:focus,
.btn:hover {
  color: #ffffff;
}
#commentform #comment {
  padding-left: 10px;
  margin-top: 10px;
}
.widget_search .search-form input[type="submit"],
.widget_search input[type="submit"] {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
.widget_search .search-form input[type="search"],
.widget_search input[type="search"] {
  padding: 0 40px;
}
.main-content.blog-w.rap,
.main-content.container.blog-wrap.single-blog {
  margin-top: 80px;
}

